<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @client.fname %>
</p>

<p>
  <strong>Mname:</strong>
  <%= @client.mname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @client.lname %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @client.contact %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
