<p id="notice"><%= notice %></p>
<h1 class="page-header">Reservation
  <a href="<%= new_admin_reservation_path %>" class="btn btn-primary pull-right">
    <span class="glyphicon glyphicon-plus"></span>
    Add New Reservation
  </a>
</h1>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Client</th>
          <th>Date</th>
          <th>Time</th>
          <th>Package</th>
          <th>Amount</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.id %></td>

            <td><%= reservation.client&.fname %></td>
            <td><%= reservation.reservation_date %></td>
            <td><%= reservation.reservation_time %></td>
            <td><%= reservation.package %></td>
            <td><%= reservation.amount %></td>
            <td><%= reservation.status %></td>
            <td><%= link_to 'View', admin_reservation_path(reservation) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
