<p id="notice"><%= notice %></p>

<h1>Payments</h1>

<table>
  <thead>
    <tr>
      <th>Or date</th>
      <th>Or number</th>
      <th>Reservation</th>
      <th>Amount</th>
      <th>Remarks</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.or_date %></td>
        <td><%= payment.or_number %></td>
        <td><%= payment.reservation %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.remarks %></td>
        <td><%= link_to 'Edit', edit_admin_payment_path(payment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
