<p id="notice"><%= notice %></p>

<p>
  <strong>Or date:</strong>
  <%= @payment.or_date %>
</p>

<p>
  <strong>Or number:</strong>
  <%= @payment.or_number %>
</p>

<p>
  <strong>Reservation:</strong>
  <%= @payment.reservation %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @payment.remarks %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
